body {
    text-align: center;
    background-color: black;
}

#button {
    position: absolute;
    border: 0;
    background-color: red;
    color: rgb(129, 0, 0);
    left: 50vw;
    top: 9vh;
    transform: translateX(-50%);
    z-index: 2;
    padding: 10px;
    width: 200px;
    font-size: 40px;
}

#goat {
    position: relative;
    transition: all 1s ease;
    z-index: 1;
}

#veritas {
    opacity: 0;
    position: absolute;
    color: white;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 50px;
    z-index: 0;
}
